.myButton{
    background: rgb(255, 255, 255);
    padding: 46px 34px;
    border-radius: 20px;
    position:relative;

}
a{
    text-decoration: none;
}
a#reload_href {
    font-size: 10px;
    position: relative;
    top: -22px;
}
body{
    background:#fff;
font-family: 'Montserrat', sans-serif !important;
}
canvas#canv {
    margin-top: 10px;
    padding: 0px !important;
    margin-left: -16px;
    position: relative;
    left: -15px;
}

@media print {
    div.print-content article.node .node-blog .clearfix div.item-body p a {
      display: none;
  }
}

@media print {
    @page { margin: 0; }
    body { margin: 1.6cm; }
  }

.Toastify__progress-bar {
    background:#15336b !important;
}

.Toastify__toast {
    font-size:14px !important;
  }

.Toastify__toast-icon svg{
    fill:#15336b !important;
}
.widthloginformat{
    background-color: #000;
}
.logomain{
    width: 130px;
    margin: auto;
    margin-bottom: 30px;
}
fieldset{
    border-radius: 4px !important;
}
button{
    box-shadow: none !important;
}
.logo{
   display:none;
}
.getotpbg{
    transform: rotate(295deg);
    position: absolute;
    width: 120px;
    left: -80px;
    top: 0px;
}

@media only screen and (max-width: 480px) and (min-width: 360px){
    .Toastify__progress-bar {
        background:#15336b !important;
    }
    
    .Toastify__toast {
        font-size:14px !important;
      }
    
    .Toastify__toast-icon svg{
        fill:#15336b !important;
    }
}

body{
	font-family: Montserrat, sans-serif !important;
}
.ReactModal__Overlay--after-open {
    z-index: 9991;
}
.ReactModal__Content.ReactModal__Content--after-open
{
	width: 30%;
    left: 39%;
	height:30%;
}
.shiftForm{
	width:100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 14px !important;
}
label[data-shrink=false]+.MuiInputBase-formControl .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
	margin-left: 22px;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}


@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.ReactModal__Content.ReactModal__Content--after-open{
  margin:auto;
  border: none !important;
  text-align:center;
  box-shadow: 1px 1px 20px #7e7e7e;
  font-family: Montserrat, sans-serif !important;
  height:300px;
  
  width: 273px;
}
.ReactModal__Overlay--after-open{
   background-color: #0000003d !important;
}


.lgoo{
  width: 133px;
  margin: 8px;

}
.menuitemss span{
   color:#000;
    font-family: Montserrat, sans-serif !important;
list-style:none; 
}
label.labelname0p {
  font-size: 12px;
  font-weight: 600;
}
.arrowmain{
  width: 50px;
  height: 50px;
  font-size: 18px !important;
}
.answer {
  float: right;
  color: #000 !important;
}
.fc .fc-toolbar.fc-header-toolbar {
  /* margin-bottom: 1.5em; */
  margin-top: 15px !important;
}
.fc .fc-daygrid-day-frame {
  min-height: 100%;
  position: relative;
  cursor: pointer;
}
.active{
 background:  #15336b4a;
 color: #6abef7;
 display: list-item; 
}
.imgiconss{
    width:26px;
}

.css-j4k7zp-MuiStack-root{
    display: flex;
    justify-content: end;
    width: 100%;
    white-space: nowrap;
}
.mobileshow{
    display:none;
}
@media only screen and (max-width: 480px) and (min-width: 200px){
    .css-6wz25k-MuiDrawer-docked .MuiDrawer-paper{
        position: absolute !important;
        width: 0;
    }
    .css-cvumne-MuiDrawer-docked .MuiDrawer-paper{
        position: absolute !important;
        z-index: 999999;
    }
    .desktopshow{
       display: none;
    }
    .mobileshow{
        display:block !important;
    }
}
@media (max-width:768px){
    .SelectColumn{
        margin-left: 16px !important;
    }
}